* {
  font-family: 'Roboto Condensed', sans-serif;
}

header, footer {
  width: 100%;
  position: relative;
  text-align: center;
}

main {
  margin: 0 auto;
  width: 1000px;
  position: relative;
}

#columnselector {
  padding: 0px 7px;
  display: block;
}

.arrow {
  width: 80px;
  height: 50px;
  display: inline-block;
  margin: 0px 5px;
}

.arrow:hover {
  background-image: url(../assets/hoverarrow.png);
  background-position: center;
  background-repeat: no-repeat;
}

#board {
  border: solid 1px rgb(1, 122, 221);
  padding: 10px 10px 6px 10px;
  display: inline-block;
  background-color: rgb(1, 122, 221);
}

.square {
  width: 80px;
  height: 80px;
  margin: 8px 5px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  border-radius: 40px;
}

#sidebar {
  width: 260px;
  margin: 5px 0px 0px 25px;
  display: inline-block;
  position: absolute;
}

#sidebar button {
  display: block;
  position: relative;
  margin: 15px auto;
  font-size: 12px;
  color: white;
  padding: 15px;
  background-color: rgb(1, 122, 221);
  border: solid 1px rgb(1, 122, 221);
}

#sidebar button:hover {
  background-color: white;
  color: black;
}

#instructions {
  margin: 40px auto;
}

#instructions h4 {
  color: black;
  text-align: center;
  line-height: 100%;
  font-size: 23px;
}

footer {
  clear: both;
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 12px;
}
